@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* global css  */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}
.d-flex-full{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sm-box-shadow{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.no-gutter{
    --bs-gutter-x:0px !important;
}

.button-full{
    outline: none;
    background: #D74039;
    color: white;
    padding: 8px 18px;
    width:156px;
    border: 1px solid #D74039;
    transition: 0.5s;
    margin-top:5px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.button-full::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: 0.3s linear;
    z-index: -1;
}
.button-full:hover::before{
    width: 100%;
    left: 0;
    color: #D74039
}
.button-full:hover{
    color: #D74039;
}

/* top navbar css start  */
.top-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 120px;
    /* height: 5vh; */
    background: #ED1B24;
    color: white;
}
.top-navbar .left-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-navbar .left-section i{
    margin-right: 8px;
    color: white;
}
.top-navbar .left-section p{
    margin: 0px;
    margin-right: 30px;
}
.top-navbar .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-navbar .right-section i{
    margin-right: 15px;
    color: white;
    font-size: 18px;
    transition: 1s;
}

@media screen and (max-width: 850px) {
    .top-navbar .left-section p{
        display: none;
    }
    .top-navbar .left-section i{
        margin-right: 15px;
    }
    .top-navbar{
        padding: 10px 30px;
    }
}



/* navbar css start  */
.navbar{
    padding: 5px;
    --bs-navbar-padding-y: 0rem !important;
    z-index: 1;
    /* height: 10vh; */
}
.navbar .navbar-brand img{
    width: 85px;
}
.navbar .navbar-nav .nav-item a.active{
    color: #ED1B24;
}
.navbar .navbar-nav .nav-item a:hover{
    color: #ED1B24;
}
.navbar .navbar-nav .nav-item{
    margin-right: 10px;
}
.navbar .navbar-nav .nav-item a{
    color: black;
}
/* navbar css end */



/* home slider css start  */
#carouselExampleIndicators .carousel-inner{
    height: 84.7vh;
}
.carousel-indicators [data-bs-target].active{
    background-color: #ED1B24 !important;
}
@media screen and (max-width: 992px) {
    #carouselExampleIndicators .carousel-inner{
        height: auto;
    }
    #carouselExampleIndicators .carousel-control-next,
    #carouselExampleIndicators .carousel-control-prev{
        display: none;
    }
}
/* home slider css end  */





/* category css start  */
.category .row .first-card{
    background: #F5F1EF;
    color: black;
    position: relative;
    height: 33.33vh;
    padding: 25px;
}
.category .row .second-card{
    background: #D74039;
    color: white;
    position: relative;
    height: 33.33vh;
    padding: 25px;
}
.category .row img{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 185px;
}
.category .row h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
}
.category .row .first-card .button{
    outline: none;
    background: #D74039;
    color: white;
    padding: 8px 18px;
    width:156px;
    border: 1px solid #D74039;
    transition: 0.5s;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
    z-index: 0;
}
.category .row .first-card .button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: 0.3s linear;
    z-index: -1;
}
.category .row .first-card .button:hover::before{
    width: 100%;
    left: 0;
    color: #D74039
}
.category .row .first-card .button:hover{
    color: #D74039;
}
.category .row .second-card .button{
    outline: none;
    background: white;
    color: #D74039;
    padding: 8px 18px;
    width:156px;
    border: 1px solid white;
    transition: 0.5s;
    display: inline-block;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
    z-index: 0;
}
.category .row .second-card .button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #D74039;
    transition: 0.3s linear;
    z-index: -1;
}
.category .row .second-card .button:hover::before{
    width: 100%;
    left: 0;
    color: #D74039
}
.category .row .second-card .button:hover{
    color: white;
}
/* category css end */



/* second slider css start  */
.category-carousel .item{
    width: 100%;
    background: rgb(194, 150, 150);
    padding: 30px 40px;
    position: relative;
}
.category-carousel .item.first-card{
    background: #F5F1EF;
}
.category-carousel .item.second-card{
    background: #D74039;
    color: white;
} 

 .category-carousel .item h4{
    font-weight: bold;
    margin-bottom: 15px;
}
.category-carousel .item p{
    font-size: 13px;
    width: 65%;
}
.category-carousel .item .button{
    border: none;
    outline: none;
    background: #D74039;
    color: white;
    z-index: 1;
    padding: 8px 18px;
    margin-bottom: 25px;
    z-index: 1;
    margin-top: 25px;
}
.category-carousel .item .button-white{
    border: none;
    outline: none;
    background: white;
    color: black;
    z-index: 1;
    padding: 8px 18px;
    margin-bottom: 25px;
    z-index: 1;
    margin-top: 25px;
}
.category-carousel .item .bg-img{
    position: absolute;
    width: 153px;
    transition-delay: 2s;
    transition: 1s;
    bottom: 30px;
    z-index: -1;
    right: 55px;
}
.category-carousel .item .packet-img{
    position: absolute;
    width: 200px;
    transition: 0.8s;
    z-index: 1;
    bottom: 20px;
    right: 12px;
}

.category-carousel .arrow{
    color: white;
    background: #D74039;
    border-radius: 50%;
    font-size: 20px;
    padding: 8px 11px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: none;
    text-decoration: none;
}

/* second slider css end */





/* about-us section css starts  */
.about-us{
    margin-top: 70px;
    margin-bottom: 70px;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/about-bg.png');
    background-repeat: no-repeat;
    z-index: -10;
}
.about-us .left-section{
    position: relative;
}
.about-us .left-section .about-img{
    width: 70%;
    z-index: 1;
    position: relative;
}
.about-us .left-section .back-dot{
    position: absolute;
    left: 70px;
    bottom: -57px;
}
.about-us .right-section{
    position: relative;
}
.about-us .right-section .button:hover{
    color: #D74039;
    background: white;
}
.about-us .right-section{
    padding: 30px;
}
.about-us .right-section .button{
    outline: none;
    background: #D74039;
    color: white;
    padding: 8px 18px;
    margin-bottom: 25px;
    width:156px;
    border: 1px solid #D74039;
    transition: 0.5s;
    margin-top: 25px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.about-us .right-section .button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: 0.3s linear;
    z-index: -1;
}
.about-us .right-section .button:hover::before{
    width: 100%;
    left: 0;
    color: #D74039
}
.about-us .right-section .button:hover{
    color: #D74039;
}

.about-us .right-section h3{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
}
.about-us .right-section p{
    font-size: 15px;
    text-align: justify;
    margin-top: 6px;
}
.about-us .about-img-div{
    position: relative;
}
.about-us .about-img-div::before{
    content: '';
    background: url('../img/background-dot.png');
    position: absolute;
    bottom: -50px;
    width: 160px;
    left: 24px;
    z-index: 0;
    background-repeat: no-repeat;
    height: 247px;
}
.about-us .about-img-div::after{
    content: '';
    width: 300px;
    height: 300px;
    border: 5px solid #D74039;
    position: absolute;
    top: -30px;
    right: 55px;
    z-index: 0;
}




/* laptop size  */
@media screen and (max-width: 1199px) {
    .about-us .about-img-div::before{
        content: '';
        background: url('../img/background-dot.png');
        position: absolute;
        bottom: -50px;
        width: 160px;
        left: 24px;
        z-index: 0;
        background-repeat: no-repeat;
        height: 247px;
    }
    .about-us .about-img-div::after{
        content: '';
        width: 300px;
        height: 300px;
        border: 5px solid #D74039;
        position: absolute;
        top: -40px;
        right: 40px;
        z-index: 0;
    }
    .about-us .right-section{
        padding: 10px;
    }
}

/* tab size  */
@media screen and (max-width: 992px) {
    .container{
        max-width: 920px;
    }
    .about-us .about-img-div::before{
        content: '';
        background: url('../img/background-dot.png');
        position: absolute;
        bottom: -35px;
        width: 160px;
        left: -5px;
        z-index: 0;
        background-repeat: no-repeat;
        height: 247px;
    }
    .about-us .about-img-div::after{
        content: '';
        width: 300px;
        height: 300px;
        border: 5px solid #D74039;
        position: absolute;
        top: -30px;
        right: 5px;
        z-index: 0;
    }
    .about-us .left-section .about-img{
        width: 85%;
        z-index: 2;
    }
    .about-us .right-section{
        padding-left: 30px;
    }
}

/* mobile size  */
@media screen and (max-width: 502px) {
    .container{
        max-width: 500px;
    }
    .about-us .about-img-div::before{
        content: '';
        background: url('../img/background-dot.png');
        position: absolute;
        bottom: -35px;
        width: 160px;
        left: 2px;
        z-index: 0;
        background-repeat: no-repeat;
        height: 247px;
    }
    .about-us .right-section{
        margin-top: 60px;
    }
    .about-us .about-img-div::after{
        content: '';
        width: 250px;
        height: 250px;
        border: 5px solid #D74039;
        position: absolute;
        top: -30px;
        right: 5px;
        z-index: 0;
    }
    .about-us .left-section .about-img{
        width: 85%;
        z-index: 2;
    }
    .about-us .right-section{
        padding-left: 0px;
        padding: 12px;
    }
}

/* small mobile  */
@media screen and (max-width: 338px) {

    .about-us .about-img-div::after{
        content: '';
        width: 210px;
        height: 210px;
        border: 5px solid #D74039;
        position: absolute;
        top: -30px;
        right: 5px;
        z-index: 0;
    }
}
/* about-us section css end */






/* counter css section starts  */
.counter-section{
    background: #D74039;
    width: 100%;
}
.counter-section .counter-box{
    color: white;
    padding: 40px 10px;
}
.counter-section .counter-box h3{
    font-weight: bolder;
    font-size: 60px;
}
.counter-section .counter-box p{
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}
/* counter css section end */





/* best selling products css starts  */
.best-products{
    padding-top: 100px;
    position: relative;
    background: url('../img/background-shape.png');
    padding-bottom: 100px;
}
.best-products .top-right-img{
    position: absolute;
    width: 320px;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
}
.best-products .bottom-left-img{
    position: absolute;
    width: 280px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}
.best-products h2{
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 20px;
}
.best-products .head-txt{
    width: 50%;
    margin: auto;
    font-size: 16px;
}
.best-products .row{
    margin-top: 65px;
}
.best-products .row .product-box{
    cursor: pointer;
}
.best-products .row .product-box p{
    margin: 0px;
    position: relative;
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}
.best-products .row .product-box p::before{
    content: '';
    border-bottom: 3px solid #D74039;
    width: 22%;
    position: absolute;
    display: block;
    transition: 0.6s;
    bottom: -7px;
    left: 1px;
}
.best-products .row .product-box p::after{
    content: '';
    border-bottom: 3px solid #7AAB3A;
    width: 22%;
    position: absolute;
    transition: 0.6s;
    display: block;
    bottom: -7px;
    left: 22%;
}
.best-products .row .product-box:hover p::after{
    width: 35%;
    left: 35%;
}
.best-products .row .product-box:hover p::before{
    width: 35%;
}
/* best selling products css end  */







/* banner section css starts  */
.banner-section{
    min-height: 30vh;
    background: #D74039;
}
/* banner section css end */






/* testimonial css starts   */

.testimonialSection {
    position: relative;
    /* background: url('../img/testimonials/testimonial-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
    padding-top: 80px;
    padding-bottom: 50px;
}
.testimonialSection .head-txt{
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: bold;
}
.testimonialSection .head-img{
    position: absolute;
    width: 102px;
    left: 59.5%;
    top: -29px;
    z-index: -1;
}
.testimonialSection .testimonialcard {
    background-color: #ffffff;
    padding: 25px 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
    border-radius: 12px;
}
.testimonialSection .testimonialcard .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonialSection .testimonialcard .top .profile {
    display: flex;
    align-items: center;
}
.testimonialSection .testimonialcard .top .profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.testimonialSection .testimonialcard .top .profile p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
    margin: 0px;
    margin-left: 17px;
    margin-top: 8px;
}
.testimonialSection .testimonialcard .top .profile span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}
.testimonialSection .testimonialcard .testimonialHead {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin-top: 20px;
}
.testimonialSection .testimonialcard .review {
    margin-top: 20px;
    padding: 15px 20px;
    height: 90px;
    overflow: scroll;
    overflow-x: hidden;
}
.testimonialSection .testimonialcard .review p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #676767;
    text-align: center;
}
.testimonialSection .testimonialcard .review::-webkit-scrollbar {
    width: 6px;
}
.testimonialSection .testimonialcard .review::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.testimonialSection .testimonialcard .review::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D74039;
    opacity: 1;
}
.testimonialSection .testimonialCarousel {
    padding: 10px 60px;
}
.testimonialSection .testimonialCarousel .slick-slide {
    margin: 20px 10px;
}
.testimonialSection .testimonialCarousel .slick-prev {
    color: #24B14B;
}
.testimonialSection .testimonialCarousel .slick-next {
    right: 0;
    background-image: url("../img/testimonials/Arrow-next.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.testimonialSection .testimonialCarousel .slick-next::before {
    opacity: -1;
}
.testimonialSection .testimonialCarousel .slick-prev {
    left: 0;
    background-image: url("../img/testimonials/Arrow-Prev.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.testimonialSection .testimonialCarousel .slick-prev::before {
    opacity: -1;
}
.testimonialSection .starRating i{
    color: goldenrod;
}
  
/* testimonial css end */








/* signup news letter css start  */
.signup-section{
    background: #D74039;
    max-width: 100%;
    /* background: #93b237; */
    overflow: hidden;
}
.signup-section .row{
    padding: 50px 0px 0px;
}
.signup-section .text-section{
    color: white;
}
.signup-section .text-section input{
    border: none;
    outline: none;
}
.signup-section .text-section .input-section{
    max-width: 75%;
    margin-top: 30px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    background: white;
}
.signup-section .text-section h2{
    font-size: 35px;
    font-weight: bold;
}
.signup-section .text-section .input-section i{
    color: #D74039;
    font-size: 21px;
    margin-left: 15px;
}
.signup-section .text-section .para{
    width: 75%;
}
.signup-section .text-section .signup-btn{
    border: none;
    outline: none;
    background: #D74039;
    padding: 10px;
    border-radius: 3px;
    color: white;
    border: 1px solid #D74039;
    transition: 0.5s;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.signup-section .text-section .signup-btn::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: 0.3s linear;
    z-index: -1;
}
.signup-section .text-section .signup-btn:hover::before{
    width: 100%;
    left: 0;
    color: #D74039
}
.signup-section .text-section .signup-btn:hover{
    color: #D74039;
}

/* .signup-section .text-section .input-section .signup-btn{
    border: none;
    outline: none;
    background: #D74039;
    padding: 10px;
    border-radius: 3px;
    color: white;
} */
/* signup news letter css end */





/* about section css start  */
.about-section{
    /* padding-top: 150px; */
    position: relative;
    background: url('../img/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section .right-section h2{
    font-size: 30px;
    font-weight: bold;
}
.about-section .right-section p{
    font-size: 16px;
    text-align: justify;
    margin-top: 20px;
}

.about-section .right-section .button:hover{
    color: #D74039;
    background: white;
}
.about-section .right-section{
    padding: 30px;
}
.about-section .right-section .button{
    outline: none;
    background: #D74039;
    color: white;
    padding: 8px 18px;
    width:156px;
    border: 1px solid #D74039;
    transition: 0.5s;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.about-section .right-section .button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: 0.3s linear;
    z-index: -1;
}
.about-section .right-section .button:hover::before{
    width: 100%;
    left: 0;
    color: #D74039
}
.about-section .right-section .button:hover{
    color: #D74039;
}
.about-section .right-section .icons img{
    width: 40px;
    filter: grayscale(0.8);
    margin-bottom: 8px;
}
.about-section .right-section .icons p{
    font-size: 13px;
}
.about-section .right-section .icons{
    margin-top: 40px;
    margin-bottom: 40px;
}

/* award section css start  */
.awards-section{
    background: #D74039;
    padding: 25px 0px;
}
.awards-section img{
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
}
/* award section css end */


/* box section css start  */
.sm-section{
    margin: 50px auto;
}
.sm-section .box{
    border: 2px solid #D74039;
    padding: 2px;
    border-radius: 15px;
    margin-top: 40px;
}
.sm-section .txt-section h3{
    color: white;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sm-section .txt-section p{
    font-size: 15px;
    text-align: justify;
}
.sm-section .box .img-section{

}
.sm-section .txt-section{
    color: white;
    background: #D74039;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}
.sm-section .txt-section,
.sm-section .img-section{
    padding: 30px 15px;
}
/* box section css end */


/* qualities section css start  */
.qualities h1{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 30px;
}
.qualities .row .box h5{
    font-weight: bold;
    font-size: 18px;
}
.qualities .row .box{
    padding: 25px;
    transition: 0.5s;
}
.qualities .row .box p{
    font-size: 15px;
    margin-top: 15px;
}
.qualities .row .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.qualities .row .box img{
    width: 100px;
    margin-bottom: 15px;
}
.qualities .row .box:hover{
    transform: translateY(-10px);
}
/* qualities section css end */

/* about products css starts  */
.about-products img{
    border-radius: 50%;
    width: 75%;
}
.about-products{
    margin-top: 120px;
    margin-bottom: 80px;
}
.about-products h1{
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-products p{
    margin-top: 25px;
    font-weight: bold;
    font-size: 18px;
}
/* about products css end */
/* about section css end */









/* products section css start  */
.product-home-2{
    /* background: url('../img/testimonials/testimonial-bg.jpg') no-repeat; */
    /* background-size: cover; */
    /* background-position: center; */
    position: relative;
}
.product-home-2 .nature-2{
    width: 80px;
    opacity: 0.4;
    bottom: 35%;
    left: 15px;
    filter: grayscale(1);
    position: absolute;
    animation: natureanimate 14s infinite;
}
.product-home-2 .nature{
    width: 80px;
    opacity: 0.4;
    top: 56px;
    right: 75px;
    filter: grayscale(1);
    position: absolute;
    animation: natureanimate 10s infinite;
}
@keyframes natureanimate {
    0%,100%{
        transform: translate(20px,-50px);
    }
    25%{
        transform: rotate(65deg);
    }
    40%{
        transform: translate(50px,32px);
    }
    50%{
        transform: rotate(50deg) translate(45px,20px);
    }
    70%{
        transform: rotate(80deg) translate(0px,0px);
    }
    100%{
        transform: rotate(0deg) translate(25px,7px);
    }
}
.product-home-2 .box .powder{
    z-index: 1;
}
.product-home-1{
    padding-top: 60px;
}
.product-home{
    background: rgb(255, 254, 254);
}
.product-home h1{
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 15px;
    font-weight: bold;
}
.product-home .row .column{
    padding: 50px 10px;
    background: #d8eac4;
    min-height: 280px;
    border-radius: 10px;
}
.product-home .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-top: 30px;
    position: relative;
}
.product-home h4{
    font-size: 17px;
    position: relative;
    font-weight: bold;
    margin-top: 15px;
}
.product-home-2 .box .shape{
    position: absolute;
    width: 300px;
    left: -15px;
    transition: 0.5s;
    top: -25px;
    z-index: 0;
}

.product-home .box h4::before{
    content: '';
    border-bottom: 3px solid #D74039;
    width: 22%;
    position: absolute;
    display: block;
    transition: 0.6s;
    bottom: -10px;
    left: 1px;
}
.product-home  .box h4::after{
    content: '';
    border-bottom: 3px solid #7AAB3A;
    width: 22%;
    position: absolute;
    transition: 0.6s;
    display: block;
    bottom: -10px;
    left: 22%;
}
.product-home  .box:hover h4::after{
    width: 50%;
    left: 50%;
}
.product-home  .box:hover h4::before{
    width: 50%;
}
.product-home .box:hover .shape{
    transform: translate(2px,-20px)
}

/* .banner section css start  */
.product-banner{
    position: relative;
    height: 30vh;
    margin-top: 100px;
    background: #D74039;
    color: white;
}
.product-banner .row > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-banner .container{
    height: 100%;
}
.product-banner .container .row{
    height: 100%;
}
.product-banner h2{
    font-size: 28px;
    font-weight: bold;
}
.product-banner .button{
    outline: none;
    background: white;
    color: #D74039;
    padding: 8px 18px;
    width:156px;
    border: 1px solid white;
    transition: 0.5s;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.product-banner .button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #D74039;
    transition: 0.3s linear;
    z-index: -1;
}
.product-banner .button:hover::before{
    width: 100%;
    left: 0;
    color: #D74039
}
.product-banner .button:hover{
    color: white;
}
.product-banner .star{
    width: 168px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0px, -50%);
}
@media screen and (max-width:500px) {
    .product-banner h2{
        font-size: 20px;
        font-weight: bold;
    }
    .product-banner p{
        margin-top: 5px;
    }
}
/* .banner section css end  */
/* products section css end */






/* contact section css start  */
.contact-us-home{
    padding-top: 40px;
    height: 85vh;
}
.contact-us-home .right-section{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.contact-us-home .right-section input,
.contact-us-home .right-section label,
.contact-us-home .right-section textarea{
    width: 100%;
}
.contact-us-home .right-section{
    overflow: hidden;
}
.contact-us-home .right-section .button{
    outline: none;
    background: #D74039;
    color: white;
    padding: 8px 18px;
    width:156px;
    border: 1px solid #D74039;
    transition: 0.5s;
    margin-top: 15px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-top: 35px;
    overflow: hidden;
    z-index: 0;
}
.contact-us-home .right-section .button::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white;
    transition: 0.3s linear;
    z-index: -1;
}
.contact-us-home .right-section .button:hover::before{
    width: 100%;
    left: 0;
    color: #D74039
}
.contact-us-home .right-section .button:hover{
    color: #D74039;
}
.contact-us-home .right-section h3{
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 25px;
}
/*= input focus effects css
=========================== */
:focus{outline: none;}

.input-field{ position: relative;margin-top: 40px;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}


.effect-16{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}

.effect-16 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;}
.effect-16:focus ~ .focus-border,
.has-content.effect-16 ~ .focus-border{width: 100%; margin-left: 15px; transition: 0.4s;}
.effect-16 ~ label{position: absolute; left: 20px; width: 100%; top: 1px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-16:focus ~ label, .has-content.effect-16 ~ label{top: -16px; font-size: 12px; color: #3399FF; transition: 0.3s;}
.effect-16:focus{
    border: none;
}

.contact-box{
    margin-bottom: 60px;
}
.contact-box .icons{
    width: 60px;
    margin-bottom: 25px;
    margin-top: 15px;
}
.contact-box .box{
    background: rgb(233, 245, 227);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    flex-direction: column;
    /* border: 2px solid #D74039; */
}
/* contact section css end  */







/* blog section css start  */
.blog-head .cursor{
    width: 50px;
    position: absolute;
    left: 65%;
    opacity: 0.8;
    top: 20px;
}
.blog-head .arrow{
    width: 80px;
    position: absolute;
    left: 35%;
    bottom: -40px;
}
.blog-head .left-quote,
.blog-head .right-quote{
    position: absolute;
    opacity: 0.6;
    width: 50px;
}
.blog-head .left-quote{
    left: 15%;
    transform: rotate(180deg);
    top: 0px;
}
.blog-head .right-quote{
    right: 15%;
    bottom: -50px;
}
.blog-head{
    margin-top: 70px;
    position: relative;
}
.blog-head p{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    margin-bottom: 25px;
}
.blog-head h1{
    font-size: 55px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blog-body{
    margin-top: 120px;
}
.blog-body-section h2{
    margin-bottom: 30px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    position: relative;
}
.blog-body-section h2::after{
    content: '';
    width: 24px;
    height: 24px;
    background: url('../img/cursor-2.png');
    position: absolute;
    top: 14px;
}
.blog-body .txt-box{
    position: relative;
}
.blog-body .txt-box h3{
    font-weight: bold;
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.blog-body .txt-box p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: justify;
}
.blog-body .img-box img{
    border-radius: 8px;
    max-width: 400px;
}
.blog-body .txt-box span{
    padding: 10px;
    width: 108px;
    border-radius: 3px;
    background: rgb(221, 252, 222);
}
.blog-body .txt-box::after{
    content: '';
    width: 60px;
    height: 60px;
    border-top: 4px solid #D74039;
    border-right: 4px solid #D74039;
    position: absolute;
    top: -20px;
    right: 0px;
    display: block;
}
.blog-body-section{
    margin-top: 110px;
}
.blog-body-section .box .img-section{
    padding: 15px;
}
.blog-body-section .box .img-section img{
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
.blog-body-section .box .txt-section{
    padding: 15px;
}
.blog-body-section .box .txt-section h3{
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.blog-body-section .box .txt-section p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin-top: 10px;
    text-align: justify;
}
.blog-body-section .box{
    padding: 15px;
    position: relative;
}
.blog-body-section .box::before{
    content: '';
    width: 60px;
    height: 60px;
    border-top: 4px solid #D74039;
    border-left: 4px solid #D74039;
    position: absolute;
    top: 15px;
    left: 15px;
    display: block;
}

.blog-body-section .box .txt-section{
    position: relative;
}
.blog-body-section .box .txt-section .owner{
    position: absolute;
    bottom: 10px;
    right: 25px;
    font-weight: bold;
}

/* blog section css end  */







/* single blog page section css starts  */
.single-blog-section{
    margin-top: 40px;
}
.single-blog-section .date{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    position: relative;
    margin-right: 45px;
    margin-left: 45px;
    position: relative;
}
.single-blog-section .single-blog .date::before{
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    background: url('../img/date.png');
    left: -40px;
    top: 0px;
}
.single-blog-section .single-blog .img-box{
    padding: 15px 5px 15px 0px;
}
.single-blog-section .single-blog .img-box img{
    width: 100%;
    border-radius: 6px;
}
.single-blog-section .date::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #D74039;
    display: block;
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(0px,-50%);
}
.single-blog-section span:nth-child(2){
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.single-blog-section .single-blog h1{
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 90%;
    font-size: 50px;
    margin-bottom: 35px;
}
.single-blog-section .single-blog .social-media{
    margin-top: 35px;
}
.single-blog-section .single-blog .left-section{
    position: relative;
}
.single-blog-section .single-blog .left-section .arrow{
    position: absolute;
    top: 100px;
    width: 50px;
    right: 65px;
}
.single-blog-section .single-blog .right-section{
    margin-top: 50px;
}
.single-blog-section .single-blog .right-section h2{
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.single-blog-section .single-blog .right-section p{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.single-blog-section .single-blog .right-section{
    padding: 15px;
}
.single-blog-section .single-blog .right-section .social-media a{
    color: black;
}
.single-blog-section .single-blog .right-section .social-media i{
    font-size: 24px;
    margin-right: 20px;
}
.single-blog-section .single-blog .right-section .social-media .facebook{
    color: #4267B2;
}
.single-blog-section .single-blog .right-section .social-media .twitter{
    color: #00acee;
}
.single-blog-section .single-blog .right-section .social-media .instagram{
    color: #cd486b;
}
.single-blog-section .single-blog .right-section h3{
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width:500px) {
    .blog-head p{
        width: 100%;
    }
    .blog-body .right-section{
        margin-top: 38px;
        padding: 12px;
    }
    .blog-body-section .box{
        padding: 12px;
    }
    .blog-body .right-section .txt-box{
        padding: 0px 25px;
    }
    .single-blog-section .single-blog h1{
        font-size: 35px;
    }
    .single-blog-section .single-blog .right-section{
        margin-top: 5px;
    }
    .single-blog-section .single-blog .right-section h2{
        margin-top: 25px;
    }
    .blog-body-section{
        margin-top: 60px;
    }
}

/* single blog page section css end */







/* footer section css starts  */
.footer-container{
   /* background-color: #fafafb; */
   /* padding-top: 25px; */
}
.footer-section{
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
    padding: 80px 5px 50px;
}
.footer-section .guide-links i{
    color: white;
    background: #D74039;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
}
.footer-section .guide-links h4{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}
.footer-section .guide-links p{
    margin: 0px;
    font-size: 16px;
    margin-left: 15px;
}
.footer-section .contact h4{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
}
.footer-section .contact i{
    color: #D74039;
    font-size: 18px;
    margin-right: 15px;
}
.footer-section .social-icons{
    margin-top: 35px;
}
.footer-section .social-icons i{
    font-size: 23px;
    margin-right: 18px;
}
.last-txt{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
/* footer section css end  */









