@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* global css  */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    text-decoration: none;
}


/* top navbar css start  */
.top-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 120px;
    background: #ED1B24;
    color: white;
}
.top-navbar .left-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-navbar .left-section i{
    margin-right: 8px;
}
.top-navbar .left-section p{
    margin: 0px;
    margin-right: 30px;
}
.top-navbar .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-navbar .right-section i{
    margin-right: 15px;
    font-size: 18px;
    transition: 1s;
}
.top-navbar .right-section i:hover{
    transform: rotate(360deg);
}
@media screen and (max-width: 850px) {
    .top-navbar .left-section p{
        display: none;
    }
    .top-navbar .left-section i{
        margin-right: 15px;
    }
    .top-navbar{
        padding: 10px 30px;
    }
}



/* navbar css start  */
.navbar .navbar-brand img{
    width: 85px;
}
.navbar .navbar-nav .nav-item a.active{
    color: #ED1B24;
}
.navbar .navbar-nav .nav-item a:hover{
    color: #ED1B24;
}
.navbar .navbar-nav .nav-item{
    margin-right: 10px;
}
.navbar .navbar-nav .nav-item a{
    color: black;
}
/* navbar css end */


/* home slider css start  */
#carouselExampleIndicators .carousel-inner{
    height: 83vh;
}
.carousel-indicators [data-bs-target].active{
    background-color: #ED1B24 !important;
}
@media screen and (max-width: 992px) {
    #carouselExampleIndicators .carousel-inner{
        height: auto;
    }
    #carouselExampleIndicators .carousel-control-next,
    #carouselExampleIndicators .carousel-control-prev{
        display: none;
    }
}
/* home slider css end  */


/* second slider css start  */
.category-carousel .item{
    width: 100%;
    background: rgb(194, 150, 150);
    padding: 40px 70px;
    position: relative;
}
.category-carousel .item.first-card{
    background: #F5F1EF;
}
.no-gutter{
    --bs-gutter-x:0px
}
.category-carousel .item h4{
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}
.category-carousel .item p{
    width: 90%;
}
.category-carousel .item .button{
    border: none;
    outline: none;
    background: #D74039;
    color: white;
    z-index: 1;
    padding: 8px 18px;
    margin-bottom: 25px;
    z-index: 1;
    margin-top: 25px;
}
.category-carousel .item .bg-img{
    position: absolute;
    width: 153px;
    trasition
    transition-delay: 1s;
    bottom: 3px;
    display: none;
    right: 125px;
}
.category-carousel .item .packet-img{
    position: absolute;
    width: 150px;
    transition: 0.8s;
    z-index: 1;
    bottom: 20px;
    right: 12px;
}
.category-carousel .item:hover .packet-img{
    transform: rotate(-140deg);
}
.category-carousel .item:hover .bg-img{
    display: block;
}

/* second slider css end */

